{% extends 'include/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/admin/adminpost.css') }}">
    {% endblock %}

{% block main %}
<main>

    <h1>Publier un nouvel article</h1>

    {{ form_start(form,{'attr':{'novalidate':'novalidate'},'attr':{'class':'post-form'} }) }}

    {# Auteur #}
    <div>
        {{ form_label(form.author,"Auteur de l'article",{'label_attr':{'class':'label-form'} }) }}
        </div>

    <div>
        {{ form_widget(form.author) }}
        </div>

    {# Quartier #}
    <div>
        {{ form_label(form.district,"Quartier",{'label_attr':{'class':'label-form'} }) }}
        </div>

    <div>
        {{ form_widget(form.district) }}
        </div>

    {# Catégorie #}
    <div>
        {{ form_label(form.category,'Type de cuisine',{'label_attr':{'class':'label-form'} }) }}
        </div>
    <div>
        {{ form_widget(form.category) }}
        </div>

    {# Restaurant #}

    <div>
        {{ form_label(form.restaurant,'Choisir restaurant',{'label_attr':{'class':'label-form'} }) }}
        </div>

    <div>
        {{ form_widget(form.restaurant) }}
        </div>
    {# Title #}
    <div>
        {{ form_label(form.title,"Titre de l'article",{'label_attr':{'class':'label-form'} }) }}
        </div>


    <div>
        {{ form_widget(form.title) }}
        </div>

    {# Contennu #}
    <div>
        {{ form_label(form.content,"Description de l'article") }}
        </div>

    <div>
        {{ form_widget(form.content,{'attr':{ 'rows':'5', 'cols':'50'}} ) }}
        </div>
{# Champ image #}

    <div>
        {{ form_label(form.image,"Image de couverture") }}
        </div>
    <div>
        {{ form_widget(form.image) }}
        </div>
    {# Message d'erreur #}
    <div class="error-form">{{ form_errors(form.image) }}</div>


    <div>
        <input type="submit" value="Envoyer">
        </div>

    {{ form_end(form) }}
</main>

{% endblock %}